body {
    text-align: center;
    font-family: sans-serif;
}


/*EJERCICIO COMPLETO CON AREAS*/

#website-areas * {
    margin: 0px;
    padding: 0px;
}

#website-areas {
    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 170px 1fr 70px;
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" "menu menu menu menu menu" "contenido contenido contenido contenido lateral" "pie pie pie pie pie";
    grid-gap: 20px;
}

#website-areas #cabecera {
    background: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: cabecera;
}

#website-areas #menu {
    background: lightblue;
    color: black;
    line-height: 140px;
    grid-area: menu;
}

#website-areas #menu ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    list-style: none;
}

#website-areas #contenido {
    background: #eee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px;
    grid-area: contenido;
}

#website-areas #contenido article {
    background: #ccc;
    border: 1px solic #555;
}

#website-areas #lateral {
    background: orange;
    color: white;
    grid-area: lateral;
}

#website-areas #pie-pagina {
    background-color: black;
    color: white;
    grid-area: pie;
}


/*-----------------EJERCICIO COMPLETO---------------*/

#website * {
    margin: 0px;
    padding: 0px;
}

#website {
    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 170px 1fr 70px;
}

#website #cabecera {
    background: blue;
    color: white;
    grid-column: 1 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#website #menu {
    background: lightblue;
    color: black;
    grid-column: 1 / 6;
    line-height: 140px;
}

#website #menu ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    list-style: none;
}

#website #contenido {
    background: #eee;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px;
}

#website #contenido article {
    background: #ccc;
    border: 1px solic #555;
}

#website #lateral {
    background: orange;
    color: white;
}

#website #pie-pagina {
    background-color: black;
    color: white;
    grid-column: 1 / 6;
}


/*-----------------EJEMPLOS---------------*/

.layout {
    width: 80%;
    margin: 0px auto;
    border: 3px solid orange;
    padding: 10px;
    height: 600px;
    /*definir espacio de grid*/
    display: grid;
    /*definir espacio entre los elementos grid*/
    grid-gap: 10px;
    /*grid-template-columns: repeat(2, calc(25% - 10px)) 15% 35%;*/
    /*grid-template-columns: repeat(2, 1fr)*/
    grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.layout .caja {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    background: grey;
}

.layout .red {
    background: red;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.layout .blue {
    background: blue;
    grid-column-start: 1;
    grid-column-end: 4;
}

.layout .green {
    background: green;
    grid-row-start: 2;
    grid-row-end: 6;
}

.layout .pink {
    background: palevioletred;
    grid-column: 2 / 4;
}

.layout .orange {
    background: orange;
    grid-column: 3 / 4;
    grid-row: 3/5;
}

.layout .purple {
    background: purple;
    /*grid-column-start: 1;
    grid-column-end: 3;*/
    grid-column: 2 / 4;
}