
*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 40px;
}

#caja {
    max-width: 1035px;
    border: 11px solid black;
}
.caja {
    display: block;
    height: 250px;
    width: 250px;
    background-color: blue;
    border: 10px red solid;
    margin:15px; /*este es generico y cambia los 4 margenes de la imagen*/
    margin-top: 15;
    margin-left: 40px;
    margin-bottom: 24px;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 15px;
    float: left;
/*tb existe la posibilidad de modificarlos en una misma linea con: margin: 10px 15px 10px 15px */

}
 
.caja p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 230px;
}

.clearfix {
    float: none;
    clear: both;
}