#boton{
    display: block;
    color: white;
    background-color: green;
    padding: 20px;
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 3px rgb(5, 83, 5) solid;
    transition: border 500ms; border-radius: 1s; background-color: 3s;

}

#boton:hover{
    border-radius: 15px;
    border: 3px solid red;
    background-color: orangered;
}

#caja{
    width: 250px;
    height: 250px;
    background:red;
    color: white;
    border: solid 5px black;
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 200px;
    animation-name: desplazamiento;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes desplazamiento{
   /* from{
margin-left: 0px;
    }
    to{
margin-left: 1200px;
    }
*/

0%{
    margin-left: 0px;
transform: rotate(0deg);
}
50%{
    margin-left: 1200px;
    transform: rotate(360deg);
    border-radius: 999px;
}

75% {
    background-color: blue;

}

77%{
    border: dashed green;
}
0%{margin-left: 0px;}
transform: rotate(0deg);
}

